$blue1: #A8E0F9;
$blue2: #4BC0EF;
$blue3: #00B6ED;
$blue4: #00A5E8;
$blue5: #17479E;
$blue6: #153056;
$blue7: #0C1D31;
$pink1: #EE3D96;
$yellow1: #F7A244;
$green1: #9AD1A0;
$textColor1: #F5F5F5;
$textColor2: #000;
$gradient-text1: linear-gradient(to bottom right, #f7a244, #fd0aac);
$gradient-text2: linear-gradient(to bottom right, #17479e, #0c1d31);
$gradient-text3: linear-gradient(to bottom right, #fd0aac, #a8e0f9);
$corBotaoPrimarioHover: linear-gradient(to bottom right, #fd0aac, #f7a244);