@use 'hero';
@use '../components/_infos_bar';
@use '../components/_buttons';
@use '../styles/_event';
@use '../styles/_variables';
@use '../styles/_footer';

@font-face {
    font-family: 'Haveko', sans-serif;
    src: url(../fonts/Haveko.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Haveko', sans-serif;
    color: variables.$pink1;
    list-style: none;
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}