@use '../styles/_variables';

.button {
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border: 1px solid variables.$pink1;
    border-radius: 16px;

    &--primary {
        color: variables.$textColor1;
        background: variables.$gradient-text1;
        transition: all 1.5s;

        &:hover {
            filter: hue-rotate(360deg);
            transform: scale(1.05);
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }

    @media (min-width: 641px) and (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}